body{
    background-image: url('bg.jpg');
    background-attachment: fixed;
    background-size: 1920px auto;
    
}
.dp {

    position: fixed;
    left: 710px;
    top: 120px;
    border-radius: 50%;
}
.info {
    position: fixed;
    left: 10px;
    top: 10;
    color: white;
    /*font-style: ;*/
    font-style: oblique;
    
}


.hhh{
    color: white;
    text-align: center;
    position: fixed;
    left: 610px;
    top: 10px;
    
}

div.zz{
    position: fixed;
    left: 510px;
    top: 200px;
    padding-left: 5px;
    padding-right: 5px;
    

}

.zz1{
    
    position: fixed;
    left: 510px;
    top: 300px;
    
}

.zz2{
    position: fixed;
    left: 710px;
    top: 300px;
    
}

.zz3 {
    max-width: 100%;
    height: auto;
    position: fixed;
    left: 910px;
    top: 300px;
    
}

#spotify{
    position: fixed;
    left: 50px;
    top: 160px;
}

#yt {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

b {
    color: white;
    font-style: italic;
    position: fixed;
    left: 50px;
    bottom: 50px;
}

.bio {
    text-align: center;
    color: white;
    position: fixed;
    left: 660px;
    top: 250px;
}

.name {
    text-align: center;
    color: white;
    position: fixed;
    left: 690px;
    top: 220px;
}



























































































































































































/*.zoom1 {
    padding: 50px;
    transition: transform .2s; 
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }


.zoom1:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}

.zoom2 {
    padding: 10px;
    transition: transform .2s; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  
.zoom2:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}

.zoom3 {
    padding: 50px;
    transition: transform .2s; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  
.zoom3:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
} */
